.card {
    box-shadow: 2px 0 10px rgba(#acacac, .5);
    margin: 1rem;
    padding: .8rem 1.6rem;
    cursor: pointer;
    transition: all .2s ease-in;

    &:hover {
        transform: scale(1.02);
    }

    &__intro {
        font-size: 1.2rem;

        &:hover {
            text-decoration: underline;
        }
    }

    &__input {
        padding: .4rem .8rem;
        text-align: center;
    }
}
