.card {
  box-shadow: 2px 0 10px rgba(172, 172, 172, 0.5);
  margin: 1rem;
  padding: .8rem 1.6rem;
  cursor: pointer;
  transition: all .2s ease-in; }
  .card:hover {
    transform: scale(1.02); }
  .card__intro {
    font-size: 1.2rem; }
    .card__intro:hover {
      text-decoration: underline; }
  .card__input {
    padding: .4rem .8rem;
    text-align: center; }
