.App {
  text-align: center; }

h1 {
  margin-bottom: 2rem; }

.wrapper {
  display: flex;
  align-items: center;
  margin: 2rem 0; }

.btn {
  padding: .4rem 1.6rem;
  background-color: #fff;
  border: 1px solid #42384C;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer; }
  .btn:hover {
    background-color: #A261ED;
    border-color: #A261ED;
    color: #fff; }
