$white: #fff;
$ship-gray: #42384C;
$medium-purple: #A261ED;

.App {
  text-align: center;
}

h1 {
    margin-bottom: 2rem;
}

.wrapper {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.btn {
    padding: .4rem 1.6rem;
    background-color: $white;
    border: 1px solid $ship-gray;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background-color: $medium-purple;
        border-color: $medium-purple;
        color: $white;
    }
}
